---
import "../styles/global.css"

import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import FancyTable from '../components/FancyTable.astro';
import FancyEduTable from '../components/FancyEduTable.astro';

import { jobs, edu } from "../about_data.ts";
---

<!-- <Layout -->
<!-- 	title="About Me" -->
<!-- 	description="About me" -->
<!-- 	pubDate={new Date('July 07 2025')} -->
<!-- 	heroImage={AboutHeroImage} -->
<!-- > -->
<Layout
	title="About Me"
	description="About me"
	pubDate={new Date('July 07 2025')}
>
    <h3>Overview</h3>
	<p>
    My name is Anup Raj Niroula. Currently, I am a Master's Student at NYU in the Computer Engineering Program.
    I have 2+ years of experience, mainly as a software engineer in backend development and data analysis.
    My current goal is to understand how Machine Learning Systems works in enterprise applications.
	</p>

    <h3>Education</h3>
    {
        edu.map((e: any) => (
            <FancyEduTable edu={e} />
        ))
    }
    <h3>Experience</h3>
    {jobs.map((job: any) => (
        <FancyTable job={job} />
    ))}

    <h3 class="font-medium leading-snug text-slate-200">
        <div>
            <a class="relative inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base" href="/resume.pdf" target="_blank" rel="noreferrer noopener" aria-label={"Opens Resume at new tab"}>
                <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block">
                </span>
                <span>View Full Resume <span class="inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
            </a>
        </div>
    </h3>
</Layout>
